body {
  margin: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
}

input {
  border: 0.5px solid #800020;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

p {
  text-align: left;
  font-size: 14px;
  margin: 0;
  margin: 0.5rem auto;
}

#save_settings {
  margin-top: 1rem;
}
button {
  background-color: #800020;
  border: 1px solid #3a000e;
  border-radius: 8px;
  color: white;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
